<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>List of Breweries - The Beer Catalog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>List of breweries in The Beer Catalog</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Founded in year</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="brewery : ${breweryList}">
                <td th:text="${{brewery.name}}"></td>
                <td th:text="${{brewery.city}}"></td>
                <td th:text="${{brewery.country}}"></td>
                <td th:text="${{brewery.foundedYear}}"></td>
                <td>
                    <a th:href="@{/detail-brewery(id=${brewery.id})}" >View</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/newBeer">Add a new beer</a>
    <a href="/newBrewery">Add a new brewery</a>
    <a href="/hellobeer">Go to the menu</a>
</body>
</html>